a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}
html {
    line-height: 1;
}
ol,
ul {
    list-style: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
caption,
td,
th {
    text-align: left;
    font-weight: 400;
    vertical-align: middle
}
blockquote,
q {
    quotes: none
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none
}
a img {
    border: none
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}
.clearfix:after,
header.main-head:after {
    content: "";
    display: table;
    clear: both
}
::selection {
    background: #000;
    color: #ff0
}
::-moz-selection {
    background: #000;
    color: #ff0
}
@font-face {
    font-family: 'gotham_boldregular';
    src: url('../fonts/gotham-bold-webfont.woff2') format('woff2'),
         url('../fonts/gotham-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gotham_bookregular';
    src: url('../fonts/gotham-book-webfont.woff2') format('woff2'),
         url('../fonts/gotham-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html {
    background: #000;
    font-family: 'gotham_bookregular';
    font-weight: 900;
    color: #fff;
	height:100%;
}
body {
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    filter: alpha(enabled=false);
    opacity: 1;
}
.wf-loading body {
    filter: alpha(Opacity=0);
    opacity: 0
}
main {
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    padding-top: 100px;
    filter: alpha(enabled=false);
    opacity: 1
}
.loading-content main {
    filter: alpha(Opacity=0);
    opacity: 0
}
a {
    text-decoration: none;
    -webkit-transition-property: color, background, border;
    transition-property: color, background, border;
    -webkit-transition-duration: .4s;
    transition-duration: .4s
}
h1 {
    visibility: hidden;
    position: absolute;
    top: -100px;
    left: -100px
}
p {
    font-size: 15px;
    font-size: .9375rem;
    line-height: 21px;
    line-height: 1.3125rem;
    margin-bottom: 10px
}
.text.pp h2,
.text.pp h3,
.text.pp h4 {
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: .1em
}
.text.pp p {
    font-weight: 300
}
.text.pp strong {
    font-weight: 700
}
.text.pp em {
    font-style: italic
}
.text.pp ul {
    margin: 0 0 25px 45px;
    list-style-type: disc
}
.text.pp ol {
    text-align: left;
    margin: 0 0 25px 45px;
    list-style: decimal
}
.text.pp li {
    font-size: 15px;
    font-size: .9375rem;
    line-height: 21px;
    line-height: 1.3125rem;
    font-weight: 300;
    margin-bottom: 5px
}
.text.pp sup {
    vertical-align: super;
    font-size: .7em
}
.text.pp sub {
    vertical-align: sub;
    font-size: .7em
}
.text.pp hr {
    border: none;
    border-top: 1px #fff solid;
    margin: 0 0 25px
}
.text.pp a {
    text-decoration: underline;
    color: #fff;
    word-wrap: break-word
}
.form-row button,
header.main-head nav.main-nav ul li a,
nav.sub-nav ul li a {
    position: relative;
}
.form-row button:hover:after,
header.main-head nav.main-nav ul li a:hover,
nav.sub-nav ul li a:hover {
    
}
.form-row button:after,
header.main-head nav.main-nav ul li a:after,
nav.sub-nav ul li a:after {
}
.form-row button.current,
header.main-head nav.main-nav ul li a.current,
nav.sub-nav ul li a.current {
    color: #fff;
	border:solid 1px #fff;
}
.form-row button.current:after,
header.main-head nav.main-nav ul li a.current:after,
nav.sub-nav ul li a.current:after {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
}
.template-about section,
.template-contact section,
.template-content section,
.template-error section {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}
.no-flexbox .template-about section,
.no-flexbox .template-contact section,
.no-flexbox .template-content section,
.no-flexbox .template-error section,
.template-about .no-flexbox section,
.template-contact .no-flexbox section,
.template-content .no-flexbox section,
.template-error .no-flexbox section {
    display: -webkit-block;
    display: block
}
.template-about section,
.template-contact section,
.template-content section,
.template-error section {
    box-sizing: border-box;
    padding: 0 10px;
    text-align: center
}
.form-row input[type=text],
.form-row input[type=email],
.form-row textarea {
    -webkit-transition-property: background, border, color;
    transition-property: background, border, color;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    box-sizing: border-box;
    font-family: 'gotham_bookregular';
    font-weight: 300;
    font-size: 15px;
    font-size: .9375rem;
    line-height: 21px;
    line-height: 1.3125rem;
    display: block;
    width: 100%;
    height: 40px;
    background: #191919;
    color: #797878;
    padding: 10px 15px;
    border: none
}
.form-row input[type=text]:focus,
.form-row input[type=email]:focus,
.form-row textarea:focus {
    background: #fff;
    color: #000;
    outline: 0
}
.form-row textarea {
    height: 180px
}
.form-row {
    position: relative;
    margin-bottom: 15px
}
.form-row::-webkit-input-placeholder {
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    color: #797878
}
.form-row:-moz-placeholder {
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    color: #797878
}
.form-row::-moz-placeholder {
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    color: #797878
}
.form-row:-ms-input-placeholder {
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    color: #797878
}
.form-row.has-error::-webkit-input-placeholder {
    color: #eb4343
}
.form-row.has-error:-moz-placeholder {
    color: #eb4343
}
.form-row.has-error::-moz-placeholder {
    color: #eb4343
}
.form-row.has-error:-ms-input-placeholder {
    color: #eb4343
}
.enquiry-form-loading .form-row.has-error::-webkit-input-placeholder {
    color: #797878
}
.enquiry-form-loading .form-row.has-error:-moz-placeholder {
    color: #797878
}
.enquiry-form-loading .form-row.has-error::-moz-placeholder {
    color: #797878
}
.enquiry-form-loading .form-row.has-error:-ms-input-placeholder {
    color: #797878
}
.form-row.has-error:after {
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    filter: alpha(enabled=false);
    opacity: 1;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #eb4343
}
.enquiry-form-loading .form-row.has-error:after {
    filter: alpha(Opacity=0);
    opacity: 0
}
.form-row label {
    display: none
}
.form-row button {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: 0 0;
    border: none;
    padding: 15px;
    color: #fff;
    font-family: 'gotham_boldregular';
    text-transform: uppercase;
    font-size: 15px;
    font-size: .9375rem;
    line-height: 21px;
    line-height: 1.3125rem;
    font-weight: 900;
    letter-spacing: .15em
}
.form-row button:hover {
    cursor: pointer;
    outline: 0
}
.notify {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .65);
    z-index: 5;
    box-sizing: border-box;
    padding-top: 180px
}
.notify .content h3 {
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 15px;
    font-size: .9375rem;
    line-height: 21px;
    line-height: 1.3125rem;
    margin-bottom: 15px
}
.notify .content p {
    margin: 0!important;
    font-weight: 300;
    text-transform: none!important
}
nav.sub-nav {
    text-align: center;
    padding: 0 10px;
    margin: 0 0 30px
}
nav.sub-nav ul li a {
    color: #fff;
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    font-size: .8125rem;
    line-height: 18.2px;
    line-height: 1.1375rem;
    letter-spacing: .1em;
    padding: 10px 0
}
.text.pp {
    padding: 0 10px;
    max-width: 515px;
    margin: 0 auto
}
.template-home section figure.full {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1
}
.template-home section figure.full.loading .auto-video-wrap,
.template-home section figure.full.loading span.image-wrap {
    filter: alpha(Opacity=0);
    opacity: 0
}
.template-home section figure.full.no-video a.play {
    display: none
}
.template-home section figure.full img {
    width: 100%;
    height: 100%;
    display: block;
    -o-object-fit: contain;
    object-fit: contain
}
.template-home section figure.full img.placeholder {
    display: none
}
.template-home section figure.full img.placeholder.portrait {
    display: block
}
.template-home section figure.full span.image-wrap {
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    filter: alpha(enabled=false);
    opacity: 1;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}
.template-home section figure.full a.play {
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    filter: alpha(Opacity=0);
    opacity: 0;
    text-indent: -9999px;
    display: none;
    width: 80px;
    height: 80px;
    background:url(../images/play.svg) center/100% no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px
}
.template-home section figure.full a.play:hover {
    filter: alpha(Opacity=80);
    opacity: .8
}
.no-videoautoplay .template-home section figure.full a.play {
    filter: alpha(enabled=false);
    opacity: 1
}
.videoautoplay .template-home section figure.full a.play {
    display: none
}
.template-home section figure.full .auto-video-wrap {
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    filter: alpha(enabled=false);
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3
}
.template-home section figure.full .auto-video-wrap iframe {
    position: absolute
}
.template-about section .basic-body.pp {
    max-width:850px;
    margin: 0 auto;
    text-transform: uppercase
}
.template-contact section .enquiry.pp {
    width: 100%;
    max-width: 515px;
    margin: 0 auto
}
.template-contact section .enquiry.pp .contact-form-wrap,
.template-contact section .enquiry.pp .contact-form-wrap form {
    position: relative
}
.template-contact section .enquiry.pp .contact-form-wrap form span.overlay {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: rgba(0, 0, 0, .85);
    position: absolute
}
.template-contact section .enquiry.pp .contact-form-wrap form span.overlay:hover {
    cursor: progress
}
.template-contact section .enquiry.pp p.intro {
    font-size: 15px;
    font-size: .9375rem;
    line-height: 21px;
    line-height: 1.3125rem;
    text-transform: uppercase;
    max-width: 440px;
    margin: 0 auto 40px
}
.template-content section {
    text-align: left
}
.template-error section {
    text-align: center
}
.template-error section h1 {
    visibility: visible;
    position: static;
    margin-bottom: 30px;
    font-size: 15px;
    font-size: .9375rem;
    line-height: 21px;
    line-height: 1.3125rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #fff
}
.template-error section h2 {
    font-size: 12px;
    font-size: .75rem;
    line-height: 16.8px;
    line-height: 1.05rem;
    letter-spacing: .1em;
    color: #fff;
    margin-bottom: 30px;
    text-transform: uppercase
}
.template-error section p {
    font-weight: 300
}
.template-error section a {
    text-decoration: underline;
    color: #fff
}
header.main-head {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 10;
    padding-top: 12px
}
header.main-head a.logo {
    display: block;
    width: 40px;
    margin: 0 auto;
    position: relative;
    z-index: 2
}
header.main-head img {
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    width: 100%;
    height: auto;
    display: block
}
header.main-head nav.main-nav {
    box-sizing: border-box;
    z-index: 1
}
header.main-head nav.main-nav ul li {
    font-size: 15px;
    font-size: .9375rem;
    line-height: 21px;
    line-height: 1.3125rem;
    letter-spacing: .15em
}
header.main-head nav.main-nav ul li.homepage {
    top: 0;
    left: 0
}
header.main-head nav.main-nav ul li.mission {
    bottom: 0;
    right: 0
}
header.main-head nav.main-nav ul li.contact {
    top: 0;
    right: 0
}
header.main-head nav.main-nav ul li.instagram {
    bottom: 0;
    left: 0
}
header.main-head nav.main-nav ul li a {
	font-family: 'gotham_boldregular';
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;
	width:160px;
	display:inline-block;
	border:solid 1px transparent;
}
header.main-head nav.main-nav ul li a:hover{
	border:solid 1px #fff;
}
a.open-close-nav {
    text-indent: -9999px;
    position: absolute;
    top: 30px;
    right: 15px;
    z-index: 11;
    display: block;
    font-size: .75em;
    width: 29px;
    height: 29px
}
a.open-close-nav span.icon {
    position: absolute;
    width: 29px;
    height: 29px;
    display: block;
    top: 0
}
a.open-close-nav span.icon span {
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
    filter: alpha(enabled=false);
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 0;
    text-indent: -9999px;
    width: 100%;
    height: 1px;
    display: block;
    background: #fff;
    margin-top: -1px
}
a.open-close-nav span.icon:after,
a.open-close-nav span.icon:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff
}
a.open-close-nav span.icon:before {
    top: 4px
}
a.open-close-nav span.icon:after {
    bottom: 4px
}
a.open-close-nav.close span.icon span {
    filter: alpha(enabled=false);
    opacity: 1
}
a.open-close-nav.close span.icon:before {
    -webkit-animation: nav-icon-top-close .4s forwards;
    animation: nav-icon-top-close .4s forwards
}
a.open-close-nav.close span.icon:after {
    -webkit-animation: nav-icon-bottom-close .4s forwards;
    animation: nav-icon-bottom-close .4s forwards
}
a.open-close-nav.open {
    color: #fff
}
a.open-close-nav.open span.icon span {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    filter: alpha(Opacity=0);
    opacity: 0
}
a.open-close-nav.open span.icon:before {
    -webkit-animation: nav-icon-top-open .4s forwards;
    animation: nav-icon-top-open .4s forwards
}
a.open-close-nav.open span.icon:after {
    -webkit-animation: nav-icon-bottom-open .4s forwards;
    animation: nav-icon-bottom-open .4s forwards
}
aside.legal {
    font-weight: 300;
    font-size: 12px;
    font-size: .75rem;
    line-height: 16.8px;
    line-height: 1.05rem;
    color: #797878
}
aside.legal a {
    color: #797878
}
aside.legal a:hover {
    color: #fff
}
@media screen and (min-width: 720px) {
    body.smaller section {
        position: relative
    }
    body.smaller section .content-inner {
        padding-top: 30px
    }
    main {
        padding-top: 0
    }
    .template-about section,
    .template-contact section,
    .template-content section,
    .template-error section {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0
    }
    .template-about section .content-inner,
    .template-contact section .content-inner,
    .template-content section .content-inner,
    .template-error section .content-inner {
        padding: 135px 0
    }
    .form-row input[type=text],
    .form-row input[type=email],
    .form-row textarea {
        height: 60px;
        padding: 15px 20px
    }
    .form-row textarea {
        height: 200px
    }
    nav.sub-nav ul li {
        display: inline-block;
        margin: 0 15px
    }
    .template-home section figure.full img {
        -o-object-fit: cover;
        object-fit: cover
    }
    .template-home section figure.full img.placeholder {
        display: block
    }
    .template-home section figure.full img.placeholder.portrait {
        display: none
    }
    .template-home section figure.full a.play {
        display: block
    }
    .template-contact section .enquiry.pp {
        width: 515px
    }
    header.main-head {
        position: static;
        padding-top: 25px
    }
    header.main-head a.logo {
        width: 68px
    }
    header.main-head nav.main-nav {
        -webkit-transition-property: opacity;
        transition-property: opacity;
        -webkit-transition-duration: .5s;
        transition-duration: .5s;
        -webkit-transition-delay: 1s;
        transition-delay: 1s;
        position: static;
        background: 0 0;
        filter: alpha(enabled=false);
        opacity: 1;
        z-index: 5
    }
    header.main-head nav.main-nav ul li {
        position: fixed;
        padding: 30px;
        z-index: 5
    }
    a.open-close-nav {
        left: 30px;
        display: none
    }
    aside.legal {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-bottom: 30px
    }
}
@media screen and (min-width: 1020px) {
    header.main-head nav.main-nav ul li.homepage {
        top: 30px;
        left: 30px
    }
    header.main-head nav.main-nav ul li.mission {
        bottom: 30px;
        right: 30px
    }
    header.main-head nav.main-nav ul li.contact {
        top: 30px;
        right: 30px
    }
    header.main-head nav.main-nav ul li.instagram {
        bottom: 30px;
        left: 30px
    }
    aside.legal {
        padding-bottom: 60px
    }
}
@media screen and (max-width: 719px) {
    header.main-head nav.main-nav {
        padding-top: 61px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .85);
        visibility: hidden;
        position: fixed;
        filter: alpha(Opacity=0);
        opacity: 0;
        -webkit-transition-property: -webkit-transform, opacity, visibility;
        transition-property: transform, opacity, visibility;
        -webkit-transition-duration: .5s;
        transition-duration: .5s;
        -webkit-transition-delay: 0 0 .5s;
        transition-delay: 0 0 .5s;
        -webkit-transform: scale(.9);
        transform: scale(.9)
    }
    .show-navigation header.main-head nav.main-nav {
        filter: alpha(enabled=false);
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
        visibility: visible
    }
    header.main-head nav.main-nav ul {
        display: table;
        width: 100%;
        height: 100%;
        padding: 60px 0
    }
    header.main-head nav.main-nav ul li {
        display: table-row
    }
	.form-row button.current,
header.main-head nav.main-nav ul li a.current,
nav.sub-nav ul li a.current {
    color: #fff;
	border:solid 1px transparent;
}
}
@-webkit-keyframes nav-icon-top-open {
    0% {
        top: 4px;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    50% {
        top: 14px;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        top: 14px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg)
    }
}
@keyframes nav-icon-top-open {
    0% {
        top: 4px;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    50% {
        top: 14px;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        top: 14px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg)
    }
}
@-webkit-keyframes nav-icon-bottom-open {
    0% {
        bottom: 4px;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    50% {
        bottom: 14px;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        bottom: 14px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }
}
@keyframes nav-icon-bottom-open {
    0% {
        bottom: 4px;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    50% {
        bottom: 14px;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        bottom: 14px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }
}
@-webkit-keyframes nav-icon-top-close {
    0% {
        top: 14px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg)
    }
    50% {
        top: 14px;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        top: 4px;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}
@keyframes nav-icon-top-close {
    0% {
        top: 14px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg)
    }
    50% {
        top: 14px;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        top: 4px;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}
@-webkit-keyframes nav-icon-bottom-close {
    0% {
        bottom: 14px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }
    50% {
        bottom: 14px;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        bottom: 4px;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}
@keyframes nav-icon-bottom-close {
    0% {
        bottom: 14px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }
    50% {
        bottom: 14px;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        bottom: 4px;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}
.mission-heading{
	font-family: 'gotham_boldregular';
    text-transform: none;
    font-size: 22px;
    line-height: 35px;
    letter-spacing: 2px;
}
.font-book{
	font-family: 'gotham_bookregular';
	text-transform: none;
	font-weight:300;
	letter-spacing: 1px;
    font-size: 18px;
}
.ex-h{
	line-height:28px;
}

.mission-bg{
	background:url(../images/bg_mission.jpg) no-repeat;
	background-size:cover;
	min-height:100%;
}
.contact-bg{
	background:url(../images/bg_contact.jpg) no-repeat;
	background-size:cover;
	min-height:100%;
}